
body {
	background-color: beige;

}


h1  {
	color: darkgreen;
	text-align: center;
	font-size: 30px;
	font-family; "Times New Roman", Times, serif;
	}
	
}
	
p {
    color: darkred;
    text-align: center;
} 