
body {

     background: beige;

}


h1  {
	color: darkgreen;
	text-align: center;
	font-size: 25px;
	font-family: 'Cabin Sketch', cursive;
	text-shadow: 3px 3px black;
	padding-bottom: 5px;
	word-spacing: 20px;
}

	
p {
	color: darkred;
    font-family: verdana;
    font-size: 20px;
	text-align: left;
}

.box1 {
    text-align: center;
    border: 2px solid lightblue;
	border-radius: 80px;
	
	
}


img {
    display: block;
    margin-left: auto;
    margin-right: right;
	border-radius: 100px;
	margin-top: 15px;
}


.text1 {
	position: top;
    text-align: left;
    color: red;
	
   
}

.right {
    position: absolute;
    bottom: 470px;
    left: 16px;
}






