
body {

     background: beige;

}


h1  {
	color: darkgreen;
	text-align: center;
	font-size: 25px;
	font-family: 'Cabin Sketch', cursive;
	text-shadow: 3px 3px black;
	padding-bottom: 5px;
	word-spacing: 20px;
}

	
p {
	color: darkred;
    font-family: verdana;
    font-size: 15px;
	text-align: left;
	
}

.box1 {
    text-align: center;
    border: 2px solid lightblue;
	border-radius: 80px;
	
	
}


img {
    display: block;
    margin-left: auto;
    margin-right: right;
	border-radius: 200px;
	margin-top: 15px;
}


.text1 {
	
    text-align: left;
    color: red;
	
   
}

.right  {
    position: absolute;
    bottom: 470px;
    left: 16px;
}

.right a {
    position: absolute;
    bottom: 50px;
    left: 15px;
    text-decoration: none;
}

a:hover {
    text-decoration: 10px;
	color: black;
	padding: 5px;
}

a:active {
    text-decoration: underline;
}





#rcorner1 {
   
	 border-radius: 60px 1px;
    background: lightblue;
    padding: 15px;
	margin-bottom: -40px;
	margin-left: 685px;
 
}



#mittentext {
   
    text-align: center;
    font-family: 'Tangerine', cursive;
	font-size: 15px;
    margin-bottom: 10px;
}

footer{
    background-color: black;
    padding: 5px;
    text-align: center; color: beige;
    height: 3vh;
}

.mailicon {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  color: white;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
}


